body {
    background-color: white;
    color: black;
    display: flex;
    justify-content:center;
}

a:visited {
    color:black!important;
}


#info td {
    border-right: 2px solid black;
}

td {
    background-color: brown;
    color: black;
}

img{
    width: auto;
    height: 500px;
    display: block;
}

.herci{
    
}