body {
    background-color: white;
    color: rgb(0, 0, 0);
}

a:visited {
    color:black!important;
}


table {
    border:solid 2px black;
}
th {
    border:solid 2px black;
}
th {
    border:solid 2px black;
}

td {
    background-color: brown;
    color: black;
}

img{
    width: auto;
    height: 500px;
    display: block;
}

.herci{
    
}

