body {
    background-color: white;
    color: black
}

a:visited {
    color:black!important;
}


#info td {
    border-right: 2px solid black;
}

td {
    background-color: white;
    color: black;
}
.hry {
    border: solid 2px brown;
}

.text {
    width:10em;
}
